.city {
    padding: 0.6em 1em;
    border-radius: 5px;
    background-color: var(--color-dark--2);
    border-left: 4px solid var(--color-brand--2);
    display: flex;
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: 600;
    box-sizing: border-box;
}