.layout {
    width: 80%;
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.2em 2.4em;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-bottom: 1.8em;
}

.city, .field {
    font-size: 1.5em;
}

.city {
    font-size: 1.6em;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 600;
}

.label {
    color: var(--color-light--1);
    font-size: 0.8em;
    font-weight: 600;
}

.link {
    color: var(--color-brand--1);
    text-decoration: underline;
}