.nav {
    position: absolute;
    margin: 2em auto 0 auto;
    display: flex;
    width: 90%;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3em;
    font-size: 1.4em;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

a {
    color: var(--color-light--2);
    text-decoration: none;
}

nav a:global(.active) {
    color: var(--color-brand--2);
}